/* StoreList.css */
/* .store-list-container {
    padding: 20px;
  } */
  
  .table-container {
    overflow-x: auto;
  }
  
  .table {
    min-width: 100%;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination button {
    margin: 0 5px;
  }
  
  @media (max-width: 768px) {
    .store-list-container {
      padding: 10px;
    }
  
    .pagination {
      margin-top: 20px;
    }
  }
  